/* Roboto Regular */
@font-face {
    font-family: "Roboto";
    src: url('../../public/fonts/Roboto/Roboto-Regular.ttf');
    src: 
         url('../../public/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url('../../public/fonts/Roboto/Roboto-Italic.ttf');
    src: url('../../public/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  /* Roboto Bold */
  @font-face {
    font-family: "Roboto";
    src: url('../../public/fonts/Roboto/Roboto-Bold.ttf');
    src: url('../../public/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url('../../public/fonts/Roboto/Roboto-BoldItalic.ttf');
    src: url('../../public/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
 